{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "endOfLine": "crlf",
    "overrides": [
        {
            "files": "*.tsx",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
